@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 400px;
  min-height: 100vh;
  background-color: #E8E8E8;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.to-do-list{
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  color: #e2e2e2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: #03A65A;
  margin-left: 0.75rem;
}
.add-button:hover{
  background-color: #016236;
  transition: 2s;
}
.delete-button{
  background-color: #ba4067;
}
.delete-button:hover{
  background-color: #B9183A;
  transition: 2s;
}
.move-button{
  background-color: #4B7BF5;
}
.move-button:hover{
  background-color: #0000FF;
  transition: 2s;
}
input[type='text']{
  font-size: 1.6rem;
  padding: 0.75rem;
  border: 2px solid #636363;
  border-radius: 8px;
  color: #060606;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #f1f1f1;
  margin-bottom: 0.75rem;
  border: 3px solid #7a7a7a;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  margin-left: 0.75rem;
}