@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 400px;
  min-height: 100vh;
  background-color: #E8E8E8;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.to-do-list{
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: #03A65A;
  margin-left: 10px;
}
.add-button:hover{
  background-color: #016236;
}
.delete-button{
  background-color: #D985A0;
}
.delete-button:hover{
  background-color: #B9183A;
}
.move-button{
  background-color: #4B7BF5;
}
.move-button:hover{
  background-color: #0000FF;
}
input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid #636363;
  border-radius: 8px;
  color: #000000;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border: 3px solid #7a7a7a;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}